{{/*
    
    wonky/default.html - "wonky" theme default template for Kisipar.
    ------------------
    The wonky theme is for experiments.  YMMV; E&OE; no guarantees.

*/}}<!doctype html>
<html>
    <head>
        <h1>{{ .Title }}</h1>
        <style type="text/css">
            body {
                background: yellow;
            }
        </style>
    </head>
    <body>
        <h1>WONKY: {{ .Title }}</h1>
        <div id="Content">
            {{ .Html }}
        </div>
    </body>
</html>
