{{/*
    
    default/default.html - the One True Default template for Kisipar.
    --------------------
    The default theme is a lighweight, mobile-friendly template set using
    a minimum of Javascript and *no* cookies (hence no cookie warning).
    
    This is its default template, which is used for any Page that has no
    other matching template.

*/}}<!doctype html>
<html>
    <head>
        <title>{{ .Page.Title }}</title>
{{ template "style.html" }}
    </head>
    <body>
        <div id="Header">
            <h1>{{ .Page.Title }}</h1>
        </div>
        <div id="Content">
            {{ .Page.HTML }}
        </div>
   </body>
</html>
