{{/*
    default/style.html - stylesheet (embedded) for kisipar default theme.
    ------------------
*/}}
<style type="text/css">
    body {
        text-align: center;
        background: #FFFEEA;
        padding: 0px;
        margin: 0px;
    }
    h1,h2,h3,h4 {
        font-family: Helvetica Neue, Helvetica, sans-serif;
    }
    #Header {
       margin: 0px auto;
       border-top: 2px solid #79ADDC; /* still, in 2017... */
       border-bottom: 2px solid black;
       background: #79ADDC;
       color: #D9E5D6; 
    }
    #Header h1 {
        font-size: 2.0em;
        padding-left: 1.0em;
        text-shadow: 0 0 0.1em #000;
    }
    #Content {
        margin: 0px auto;
        width: 800px;
        text-align: left;
        font-family: Georgia, serif;
        font-size: 1.2em;
    }
    #Content h1 {
        display: none;
    }
</style>